@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100,200,300,400,500,600,700,800,900');
@import "tailwindcss";

:root {
    --text: #ffffff;
    --bg: #101012;
    --secondary: #202020;
    --border: #292929;
    --gray: #5f5f5f;
    --light-gray: #979797;
    --primary: #87c2fa;
}

* {
    font-family: 'Onest', Arial, Helvetica, sans-serif;
}

html {
    background-color: var(--bg);
    color: var(--text);
}

button {
    outline: none;
}

@theme {
    --color-text: var(--text);
    --color-bg: var(--bg);
    --color-secondary: var(--secondary);
    --color-border: var(--border);
    --color-gray: var(--gray);
    --color-light-gray: var(--light-gray);
    --color-primary: var(--primary);
}
